<footer class="py-10 mt-10 mb-0">
  <p class="block text-center text-sm mb-6">
    Made by <a target="_blank" href="https://comigo.itch.io/">CoMiGo Games</a>.
    Site template by
    <a target="_blank" href="https://github.com/reeseschultz">
      Reese Schultz
    </a>
  </p>

  <!-- <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a> -->
</footer>