<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2 tags">
    <a class="tag xml mx-auto" href="{{ site.baseUrl }}tag/xml">XML</a>
    <a class="tag buildings mx-auto" href="{{ site.baseUrl }}tag/buildings">Buildings</a>
    <a class="tag c mx-auto" href="{{ site.baseUrl }}tag/c">C#</a>
    <a class="tag cheatsheet mx-auto" href="{{ site.baseUrl }}tag/cheatsheet">Cheatsheet</a>
    <a class="tag defs mx-auto" href="{{ site.baseUrl }}tag/defs">Defs</a>
    <a class="tag reference mx-auto" href="{{ site.baseUrl }}tag/reference">reference</a>
</div>
