@keyframes tag-hover {
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

.tags .tag {
  @apply inline-block px-4 py-2 mr-2 mb-2 text-xs font-bold lowercase text-white;
  border: 1px solid black;
  box-shadow: 3px -3px rgba(0, 0, 0, 0.25) inset, -3px 3px rgba(255, 255, 255, 0.1) inset;
  background: #6A512E;
}
.grid.tags .tag {
  margin-left: auto;
  margin-right: auto;
}

.tags .tag:hover {
  animation: tag-hover 500ms both;
}
/*
.tag:before {
  content: "#";
}

.tag.cats {
  @apply bg-red-700;
}

.tag.enchiladas {
  @apply bg-yellow-700;
}

.tag.beer {
  @apply bg-blue-700;
}

.tag.spirituality {
  @apply bg-indigo-700;
}

.tag.orcas {
  @apply bg-purple-700;
}

.tag.stoicism {
  @apply bg-pink-700;
}
*/